einops
matplotlib
numpy
openpyxl
opt_einsum
pandas
patool
scikit-learn
scipy
sktime
sympy
torch
tqdm
PyWavelets
wandb

### KAN-AD ###
# easyTSAD
# torchinfo
# statsmodels

### DiffusionAE ###
# transformers
# tadpak

### CSDI ###
# pyyaml
# linear_attention_transformer
